name: Presubmit

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    findings_header:
        name: Findings Header
        runs-on: ubuntu-latest
        steps:
            - name: Upload Findings
              run: |
                  printf "# Findings\n\nThis presubmit run has produced the following findings!\n\n" >> $GITHUB_STEP_SUMMARY

    presubmit:
        name: ${{ matrix.name }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                include:
                    - name: Linux [x86_64] (x86_64-gcc)
                      os: ubuntu-latest
                      checkset: x86_64-linux-gcc
                    - name: Linux [x86_64] (x86_64-clang)
                      os: ubuntu-latest
                      checkset: x86_64-linux-clang
                    - name: Linux [x86_64] (i686-gcc)
                      os: ubuntu-latest
                      checkset: i686-linux-gcc
                    - name: Linux [x86_64] (i686-clang)
                      os: ubuntu-latest
                      checkset: i686-linux-clang
                    - name: msys2 [x86_64] (x86_64-clang)
                      os: windows-latest
                      checkset: x86_64-msysclang64-clang
                      msystem: CLANG64
                      packages: base-devel mingw-w64-clang-x86_64-python
                    - name: msys2 [x86_64] (x86_64-gcc)
                      os: windows-latest
                      checkset: x86_64-msys64-gcc
                      msystem: MINGW64
                      packages: base-devel mingw-w64-x86_64-python
                    - name: Win32 [x86_64] (x86_64-msvc)
                      os: windows-latest
                      checkset: x86_64-win32-msvc
                    - name: Win32 [x86_64] (i686-msvc)
                      os: windows-latest
                      checkset: i686-win32-msvc
                    - name: Tools
                      os: ubuntu-latest
                      checkset: generic-tools
        defaults:
            run:
                shell: ${{ matrix.msystem && 'msys2 {0}' || 'bash' }}
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Setup MSYS2
              if: matrix.msystem
              uses: msys2/setup-msys2@v2
              with:
                  msystem: ${{ matrix.msystem }}
                  update: true
                  install: ${{ matrix.packages }}

            - name: Setup Python
              if: ${{ !matrix.msystem }}
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Run Checkset
              env:
                  PYTHONUNBUFFERED: "1"
                  CPLUS_INCLUDE_PATH: /usr/include/c++/14:/usr/include/x86_64-linux-gnu/c++/14
              run: python3 workflows/all_push.py -d=. -cs=${{ matrix.checkset }} -s -v

            - name: Upload Findings
              if: always()
              run: python3 workflows/all_findings.py -d=. -s -v >> $GITHUB_STEP_SUMMARY

            - name: Upload Coverage Report
              if: always()
              uses: actions/upload-artifact@v4
              with:
                  name: coverage-${{ matrix.checkset }}
                  path: "*-build/coverage/"
                  if-no-files-found: ignore

            - name: Upload Documentation
              if: always() && matrix.checkset == 'generic-tools'
              uses: actions/upload-artifact@v4
              with:
                  name: docs-build
                  path: "docs-build/"
                  if-no-files-found: ignore
